<header class="etg-header etg-scroll-bar" [class.show-background]="showHeaderBackground">
	<div class="etg-container">
		<div class="etg-row">
			<a class="etg-site-link"
				href="/">
				<img class="etg-site-logo"
					alt="Elevate Talent Group"
					title="Elevate Talent Group"
					src="../../../assets/elevate-logo-1.png"
				/>
			</a>
			<button class="etg-nav-menu-btn"
				[class.active]="toggleNavMenuBtn"
				(click)="showContact()">
				<span></span>
				<span></span>
			</button>
		</div>
	</div>
</header>