<header class="etg-header">
	<div class="etg-container">
		<div class="etg-row">
			<a class="etg-site-link"
				href="">
				<img class="etg-site-logo"
					alt="Elevate Talent Group"
					title="Elevate Talent Group"
					src="../../../assets/elevate-logo-1.png"
				/>
			</a>
			<button class="etg-nav-menu-btn">
				<svg class="etg-svg" width="44" height="16" viewBox="0 0 44 16" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M36.1905 0H0L2.89524 4.36364L39.0857 4L36.1905 0Z" fill="#FFFFFF"></path>
					<path d="M40.5333 11.6364H4.34286L7.23809 16H43.4286L40.5333 11.6364Z" fill="#FFFFFF"></path>
				</svg>					
			</button>
		</div>
	</div>
</header>