<section class="etg-our-creators">
  <div class="etg-background"></div>
  <div class="etg-container">
    <div class="etg-content">
      <div class="etg-title-wrap">
        <h2 class="animate-init"
          [class.animate-now]="">
          OUR CREATORS
        </h2>
        <p class="animate-init"
          [class.animate-now]="">
          Our creators are professionals at the top of their game in relevant categories and topics that tightly align with your brands needs.
        </p>
      </div>
      <div class="flickity-main animate-init"
        [class.animate-now]=""
        #carousel>
        <div class="flickity-cell"
          *ngFor="let cell of carouselSlides"
          [ngStyle]="{ 'background-color' : cell.bgColor }">
          <div class="bg-image"
            [ngStyle]="{ 'background-image' : 'url('+ cell.bgImage + ')' }">
          </div>
          <div class="bg-icon"
            [ngStyle]="{ 'background-image' : 'url('+ cell.bgIcon + ')' }">
          </div>
          <div class="title"
            [style.color]="cell.titleColor"
            [innerHTML]="cell.title">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
