.etg-btn-primary {
	color: #FFFFFF;
	font-family: var(--primaryFont);
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 1.5em;
	letter-spacing: 0.06em;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0 24px;
	max-width: 270px;
	min-width: 270px;
	width: 100%;
	padding: 20px;
	border: 1px solid #D9D9D9;
	border-radius: 100px;
	transition:
		background 300ms ease-in-out,
		border-color 300ms ease-in-out;

	.etg-btn-icon {
		path {
			&:nth-child(1) {
				fill: #EEB53B;
			}
		}
	}

	.etg-btn-label {
		width: max-content;
	}

	&:hover {
		background: #D49715;
		border-color: #D49715;

		.etg-btn-icon {
			path {
				&:nth-child(1) {
					fill: #FFFFFF;
				}
			}
		}
	}
}