.etg-process {
  position: relative;
  min-height: 480px;
  height: 100vh;
  overflow: hidden;
  padding: 130px 30px 50px;

  @media only screen and (max-width: 1080px) {
    min-height: 885px;
    padding: 100px 30px 50px;
  }

  @media only screen and (max-width: 768px) {
    min-height: 1100px;
  }

  @media only screen and (max-width: 480px) {
    min-height: 1325px;
  }

  .etg-background {
    &.ds-view {
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      max-width: 9000px;
      min-width: 9000px;
      width: 100%;
      height: 100%;
    }
  }

  .etg-container {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1280px;
    width: 100%;
    height: 100%;
    margin: 0 auto;

    .main-title {
      color: #FFFFFF;
      font-family: var(--primaryFont);
      font-style: normal;
      font-weight: 900;
      font-size: 128px;
      text-align: right;
      line-height: 0.8em;
      letter-spacing: 0.02em;
      display: none;
      width: max-content;
      margin: 0 0 16px;

      @media only screen and (max-width: 1440px) {
        font-size: 80px;
      }

      @media only screen and (max-width: 1080px) {
        font-size: 65px;
        margin: 0 0 13px;
        display: block;
      }

      @media only screen and (max-width: 480px) {
        font-size: 50px;
        text-align: center;
        margin: 0 auto 13px;
      }
    }

    .sub-title {
      color: #FFFFFF;
      font-family: var(--primaryFont);
      font-style: normal;
      font-weight: 900;
      font-size: 30px;
      line-height: 1.3em;
      letter-spacing: 0.02em;
      display: none;
      margin: 0 0 30px;
      padding: 0 0 0 30px;

      @media only screen and (max-width: 1080px) {
        font-size: 20px;
        margin: 0 0 60px;
        display: block;
      }

      @media only screen and (max-width: 480px) {
        font-size: 15px;
        text-align: center;
        margin: 0 auto 30px;
        padding: 0;
      }
    }

    .etg-row {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      gap: 125px 100px;
      width: 100%;

      @media only screen and (max-width: 1080px) {
        flex-direction: column-reverse;
        gap: 75px 100px;
      }

      @media only screen and (max-width: 768px) {
        gap: 50px 100px;
      }

      @media only screen and (max-width: 480px) {
        gap: 30px 100px;
      }

      .etg-col {
        width: 50%;

        @media only screen and (max-width: 1080px) {
          width: 100%;
        }

        &:nth-child(1) {
          @media only screen and (max-width: 768px) {
            max-width: 600px;
            margin: 0 auto;
            overflow: hidden;
          }

          .etg-inner-row {
            display: flex;
            flex-direction: column;
            gap: 90px 37px;
            width: 100%;

            @media only screen and (max-width: 1080px) {
              flex-direction: row;
              justify-content: center;
              gap: 60px 37px;
            }

            @media only screen and (max-width: 768px) {
              flex-wrap: wrap;
            }

            @media only screen and (max-width: 480px) {
              justify-content: flex-start;
              gap: 20px 37px;
            }

            .etg-inner-col {
              width: 100%;

              @media only screen and (max-width: 1080px) {
                width: calc(50% - 30px);
              }

              @media only screen and (max-width: 768px) {
                width: 100%;
              }

              &:nth-child(1) {
                .steps-wrap {
                  position: relative;
                  width: 100%;
                  height: 65px;
                  margin: 0 0 30px;
                  border-bottom: 1px solid rgba(255, 255, 255, 0.4);

                  @media only screen and (max-width: 1080px) {
                    height: 55px;
                    margin: 0 0 25px;
                  }

                  @media only screen and (max-width: 768px) {
                    height: 45px;
                  }
                  
                  @media only screen and (max-width: 480px) {
                    height: 35px;
                    margin: 0 0 20px;
                  }

                  .steps-item {
                    position: absolute;
                    top: 0;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 0 15px;
                    width: 100%;
                    opacity: 0;
                    transition: opacity 1s ease-in-out;

                    @media only screen and (max-width: 1080px) {
                      gap: 0 11px;
                    }

                    .counter {
                      color: rgba(255, 255, 255, 0.8);
                      font-family: 'Product Sans';
                      font-style: normal;
                      font-weight: 400;
                      font-size: 32px;
                      text-transform: uppercase;
                      line-height: 1em;
                      letter-spacing: 0.06em;

                      @media only screen and (max-width: 1080px) {
                        font-size: 25px;
                      }
                    }

                    .etg-svg {

                    }

                    .label {
                      color: rgba(255, 255, 255, 0.8);
                      font-family: var(--primaryFont);
                      font-style: normal;
                      font-weight: 700;
                      font-size: 24px;
                      text-transform: uppercase;
                      letter-spacing: 0.06em;
                      line-height: 1.5em;
                      min-width: max-content;
                      width: 100%;

                      @media only screen and (max-width: 1080px) {
                        font-size: 20px;
                      }

                      @media only screen and (max-width: 768px) {
                        font-size: 18px;
                      }

                      @media only screen and (max-width: 480px) {
                        font-size: 16px;
                      }
                    }

                    &.active {
                      opacity: 1;
                    }
                  }
                }

                .steps-description {
                  color: rgba(255, 255, 255, 0.7);
                  font-family: var(--secondaryFont);
                  font-style: normal;
                  font-weight: 400;
                  font-size: 18px;
                  line-height: 1.5em;
                  letter-spacing: 0.04em;
                  position: relative;
                  max-width: 450px;
                  width: 100%;
                  height: calc(1.5em * 5);
                  overflow: hidden;

                  p {
                    position: absolute;
                    left: 0;
                    top: 0;
                    display: block;
                    opacity: 0;
                    width: 100%;
                    transition: opacity 1s ease-in-out;
                    
                    &.active {
                      opacity: 1;
                    }
                  }

                  @media only screen and (max-width: 1080px) {
                    font-size: 16px;
                  }

                  @media only screen and (max-width: 768px) {
                    font-size: 15px;
                  }

                  @media only screen and (max-width: 480px) {
                    font-size: 14px;
                  }
                }
              }

              &:nth-child(2) {
                .steps-img-list {
                  position: relative;
                  display: block;
                  max-width: 600px;
                  width: 100%;
                  height: 350px;

                  .steps-img-wrap {
                    position: absolute;
                    z-index: 1;
                    inset: 0;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    width: 0%;
                    height: 100%;
                    overflow: hidden;
                    opacity: 0;
                    transition:
                      width 1s linear,
                      opacity 1s linear;

                    .step-img {
                      position: absolute;
                      top: 50%;
                      left: 50%;
                      transform: translate(-50%, -50%);
                      object-fit: cover;
                      object-position: center;
                      max-width: 600px;
                      min-width: 600px;
                      width: 100%;
                      height: 100%;
                    }

                    &.prev {
                      z-index: 2;
                      width: 100%;
                      opacity: 0;
                    }

                    &.active {
                      z-index: 3;
                      width: 100%;
                      opacity: 1;
                    }

                    &.next {
                      z-index: 4;
                      width: 0%;
                      opacity: 0;
                    }
                  }
                }
              }
            }
          }
        }

        &:nth-child(2) {
          @media only screen and (max-width: 768px) {
            overflow-x: auto;
            overflow-y: hidden;
          }
          
          .main-title {
            display: block;

            @media only screen and (max-width: 1080px) {
              display: none;
            }
          }

          .sub-title {
            display: block;

            @media only screen and (max-width: 1080px) {
              display: none;
            }
          }

          .process-status-wrap {
            --icon-width: 8px;
            --icon-height: 8px;
            --icon-width-active: 45px;
            --icon-height-active: 45px;
            --icon-gap: 25px;
            --icon-gap-active: 16px;
            width: 100%;

            .process-status-list {
              position: relative;

              &.ds-view {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: stretch;
                gap: 150px 25px;
                min-width: 380px;
                width: 100%;
                height: 503px;

                @media only screen and (max-width: 1080px) {
                  display: none;
                }

                @media only screen and (max-width: 480px) {
                  display: flex;
                }

                > .etg-svg {
                  position: absolute;
                  z-index: 1;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  display: block;
                  max-width: 2px;
                  min-width: 2px;
                  width: 100%;
                  height: 100%;
                }

                .process-status-item {
                  position: relative;
                  z-index: 2;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  gap: 0 var(--icon-gap);
                  width: 100%;
                  cursor: pointer;

                  .process-status-label {
                    color: rgba(255, 255, 255, 0.4);
                    font-family: var(--primaryFont);
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 1em;
                    width: 50%;
                    transition: all 1s ease-in-out;

                    @media only screen and (max-width: 768px) {
                      font-size: 14px;
                    }
                  }

                  .process-status-icon {
                    position: absolute;
                    z-index: 2;
                    display: block;
                    background: #7D7D7D;
                    width: var(--icon-width);
                    height: var(--icon-height);
                    border-radius: 50px;
                    transition: all 1s ease-in-out;

                    &::before {
                      content: '';
                      position: absolute;
                      z-index: 3;
                      display: block;
                      background: #7D7D7D;
                      width: var(--icon-width);
                      height: var(--icon-height);
                      border-radius: 50px;
                      opacity: 1;
                      transition: opacity 1s ease-in-out 500ms;
                    }
                  }

                  .etg-svg {
                    position: absolute;
                    z-index: 1;
                    top: -98px;
                    min-width: 2px;
                    width: 100%;
                    opacity: 0;
                    transition: opacity 1s ease-in-out;
                  }

                  &:nth-child(odd) {
                    flex-direction: row-reverse;

                    .process-status-label {
                      text-align: left;
                      margin-left: calc( ( var(--icon-width) + var(--icon-gap) * 2 ) );
                      position: relative;
                      left: 50%;
                      transform: translateX(-50%);
                    }

                    .process-status-icon {
                      
                    }
                  }

                  &:nth-child(even) {
                    flex-direction: row;

                    .process-status-label {
                      text-align: right;
                      margin-right: calc( ( var(--icon-width) + var(--icon-gap) * 2 ) );
                      position: relative;
                      right: 50%;
                      transform: translateX(50%);
                    }

                    .process-status-icon {
                      
                    }
                  }

                  &.active {
                    gap: 0 var(--icon-gap-active);

                    &:nth-child(odd) {
                      .process-status-label {
                        margin-left: calc( ( var(--icon-width-active) + var(--icon-gap-active) * 2 ) );
                      }
      
                      .process-status-icon {
                        
                      }
                    }

                    &:nth-child(even) {
                      .process-status-label {
                        margin-right: calc( ( var(--icon-width-active) + var(--icon-gap-active) * 2 ) );
                      }
      
                      .process-status-icon {
                        
                      }
                    }

                    .process-status-label {
                      color: #FFFFFF;
                      font-weight: 700;
                    }

                    .process-status-icon {
                      width: var(--icon-width-active);
                      height: var(--icon-height-active);
                      border: 1px solid #D49715;

                      &::before {
                        opacity: 0;
                        transition: opacity 1s ease-in-out;
                      }
                    }

                    .etg-svg {
                      opacity: 1;
                    }
                  }
                }
              }

              &.lt-view {
                display: none;

                @media only screen and (max-width: 1080px) {
                  display: flex;
                  width: 100%;
                  height: 150px;
                }

                @media only screen and (max-width: 480px) {
                  display: none;
                }

                > .etg-svg {
                  position: absolute;
                  z-index: 1;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  display: block;
                  width: 100%;
                  height: 2px;
                }

                .process-status-item {
                  position: relative;
                  z-index: 2;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  gap: 0 var(--icon-gap);
                  width: 100%;
                  cursor: pointer;

                  .process-status-label {
                    color: rgba(255, 255, 255, 0.4);
                    font-family: var(--primaryFont);
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    text-align: center;
                    line-height: 1em;
                    transition: all 1s ease-in-out;
                  }

                  .process-status-icon {
                    position: absolute;
                    z-index: 2;
                    display: block;
                    background: #7D7D7D;
                    width: var(--icon-width);
                    height: var(--icon-height);
                    border-radius: 50px;
                    transition: all 1s ease-in-out;

                    &::before {
                      content: '';
                      position: absolute;
                      z-index: 3;
                      display: block;
                      background: #7D7D7D;
                      width: var(--icon-width);
                      height: var(--icon-height);
                      border-radius: 50px;
                      opacity: 1;
                      transition: opacity 1s ease-in-out 500ms;
                    }
                  }

                  .etg-svg {
                    position: absolute;
                    z-index: 1;
                    min-width: 2px;
                    width: 100%;
                    opacity: 0;
                    transition: opacity 1s ease-in-out;
                  }

                  &:nth-child(odd) {
                    .process-status-label {
                      transform: translateY(30px);
                    }

                    .process-status-icon {
                      
                    }
                  }

                  &:nth-child(even) {
                    .process-status-label {
                      transform: translateY(-30px);
                    }

                    .process-status-icon {
                      
                    }
                  }

                  &.active {
                    gap: 0 var(--icon-gap-active);

                    &:nth-child(odd) {
                      .process-status-label {
                        transform: translateY(50px);
                      }
      
                      .process-status-icon {
                        
                      }
                    }

                    &:nth-child(even) {
                      .process-status-label {
                        transform: translateY(-50px);
                      }
      
                      .process-status-icon {
                        
                      }
                    }

                    .process-status-label {
                      color: #FFFFFF;
                      font-weight: 700;
                    }

                    .process-status-icon {
                      width: var(--icon-width-active);
                      height: var(--icon-height-active);
                      border: 1px solid #D49715;

                      &::before {
                        opacity: 0;
                        transition: opacity 1s ease-in-out;
                      }
                    }

                    .etg-svg {
                      opacity: 1;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}