<section class="etg-collab">
  <div class="etg-container">
    <div class="etg-row">
      <div class="etg-col">
        <h2>
          COLLAB
        </h2>
      </div>
    </div>
  </div>
  <div class="etg-container">
    <div class="etg-row">
      <div class="etg-col">
        <h4>
          Out of siloes and into collaboration
        </h4>
        <p>
          We are a full service ad agency with 1 to 1 relationships with our creators. That means we understand your broader communications strategy and have talent ready to go that is perfectly integrated into your messaging and audience targets.
        </p>
        <app-primary-btn
          text="LET'S TALK"
          url="toggle-contact">
        </app-primary-btn>
      </div>
    </div>
  </div>
</section>