.etg-banner {
	position: relative;
	background-image: url('../../../assets/HeroBanner_bg_9000x2030.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	min-height: 480px;
	height: 100vh;
	overflow: hidden;
	padding: 150px 30px 50px;

	@media only screen and (max-width: 768px) {
		background-image: url('../../../assets/HeroBanner_bg_3408x1864.jpg');
	}

	@media only screen and (max-width: 1080px) and (max-height: 480px) {
		padding: 100px 30px 30px;
	}

	&::before {
		content: "";
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		display: block;
		background-image: url('../../../assets/HeroBanner_fg_9000x2030.png');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		height: 100%;

		@media only screen and (max-width: 768px) {
			// background-image: url('../../../assets/HeroBanner_bg_1536x1864.png');
			background-image: unset;
		}
	}
	
	.etg-container {
		position: relative;
		bottom: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		max-width: 1280px;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		animation: reveal-up 1s linear;
		opacity: 1;
		
		.etg-content {
			h1 {
				font-weight: 900;
				font-size: 200px;
				line-height: 0.75em;
				position: relative;
				max-width: 1050px;
				width: 100%;
				margin: 0 0 40px;

				@media only screen and (max-width: 1080px) {
					font-size: 125px;
					line-height: 0.8em;
					max-width: 650px;
					margin: 0 0 30px;
				}

				@media only screen and (max-width: 780px) {
					font-size: 75px;
					max-width: 410px;
					margin: 0 0 25px;
				}

				@media only screen and (max-width: 480px) {
					font-size: 60px;
					max-width: 350px;
				}

				@media only screen and (max-width: 1080px) and (max-height: 480px) {
					font-size: 40px;
					max-width: 215px;
					margin: 0 0 15px;
				}

				span {
					position: relative;
					z-index: 3;
					display: block;

					&.under {
						color: #FFFFFF;
						z-index: 1;
					}
	
					&.above {
						color: transparent;
						z-index: 3;
						--bg-size: 400%;
						--color-one: hsl(44 47% 74%);
						--color-two: hsl(255 26% 66%);
						--color-three: hsl(348 30% 57%);
						background:
							linear-gradient(
								90deg,
								var(--color-one),
								var(--color-two),
								var(--color-three)
							)
							0 0 / var(--bg-size) 100%;
						-webkit-background-clip: text;
						background-clip: text;
						animation: move-bg 20s infinite linear;
					}
				}
			}

			p {
				--margin-left: 40px;
				--margin-bottom: 70px;
				font-size: 32px;
				line-height: 1.5em;
				letter-spacing: 2px;
				max-width: 855px;
				width: calc(100% - var(--margin-left));
				margin: 0 0 var(--margin-bottom) var(--margin-left);

				@media only screen and (max-width: 1080px) {
					--margin-left: 30px;
					--margin-bottom: 50px;
					font-size: 24px;
					line-height: 1.25em;
					max-width: 650px;
				}

				@media only screen and (max-width: 768px) {
					--margin-left: 20px;
					--margin-bottom: 35px;
					font-size: 20px;
					line-height: 1.1em;
					max-width: 565px;
				}

				@media only screen and (max-width: 480px) {
					--margin-bottom: 25px;
					font-size: 16px;
					max-width: 740px;
				}

				@media only screen and (max-width: 1080px) and (max-height: 480px) {
					--margin-bottom: 20px;
					font-size: 14px;
					max-width: 425px;
				}
			}

			app-primary-btn {
				position: relative;
				z-index: 3;

				.etg-btn-primary {
					font-size: 20px;
					max-width: unset;
					min-width: unset;
					width: max-content;
					gap: 0 24px;
					margin: 0 0 0 40px;
					padding: 20px 48px;

					@media only screen and (max-width: 1080px) {
						font-size: 18px;
						gap: 0 15px;
						margin: 0 0 0 30px;
						padding: 15px 30px;
					}

					@media only screen and (max-width: 768px) {
						font-size: 16px;
						margin: 0 0 0 20px;
					}

					@media only screen and (max-width: 480px) {
						font-size: 14px;
					}

					@media only screen and (max-width: 1080px) and (max-height: 480px) {
						font-size: 14px;
						margin: 0 0 0 20px;
						padding: 12.5px 20px;
					}

					.etg-btn-icon {
						@media only screen and (max-width: 1080px) and (max-height: 480px) {
							width: 20px;
						}
					}
				}
			}
		}
	}
}


@media (prefers-reduced-motion: no-preference) {
	.boujee-text {
		animation: move-bg 8s linear infinite;
	}

	@keyframes move-bg {
		to {
			background-position: var(--bg-size) 0;
		}
	}
}

@keyframes reveal-up {
	0% {
		bottom: -100px;
		opacity: 0;
	}

	100% {
		bottom: 0px;
		opacity: 1;
	}
} 