<div class="etg-section-navigator">
  <div class="etg-wrap">
    <div class="title animate-init"
      *ngFor="let title of sectionList; let count = index;"
      [id]="(count+1)"
      [innerText]="title.title"
      [class.prev]="prevSectionCount == (count+1)"
      [class.curr]="currSectionCount == (count+1)"
      [class.next]="nextSectionCount == (count+1)"
      [class.animate-now]="prevSectionCount == (count+1) || currSectionCount == (count+1) || nextSectionCount == (count+1)">
    </div>
    <button class="prev-btn"
      (click)="prevSection();">
      <svg class="etg-svg svg-icon-angle-up" width="39" height="21" viewBox="0 0 39 21" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 20L19.5 2L37.5 20" stroke="#FFFFFF" stroke-opacity="0.2" stroke-width="2" stroke-linecap="round"/>
      </svg>
    </button>
    <div class="counter-wrap">
      <div class="counter-item animate-init"
        *ngFor="let i of sectionList; let count = index;"
        [id]="(count+1)"
        [class.prev]="prevSectionCount == (count+1)"
        [class.curr]="currSectionCount == (count+1)"
        [class.next]="nextSectionCount == (count+1)"
        [class.animate-now]="prevSectionCount == (count+1) || currSectionCount == (count+1) || nextSectionCount == (count+1)">
        <span class="count"
          [innerText]="(count+1)">
        </span>
        <span>/</span>
        <span class="total-count"
          [innerText]="sectionList.length">
        </span>
      </div>
    </div>
    <button class="next-btn"
      (click)="nextSection();">
      <svg class="etg-svg svg-icon-angle-down" width="39" height="21" viewBox="0 0 39 21" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 1.5L19.5 19.5L37.5 1.5" stroke="#FFFFFF" stroke-opacity="0.2" stroke-width="2" stroke-linecap="round"/>
      </svg>
    </button>
  </div>
</div>