.etg-stats {
	&.ds-view {
		position: relative;
		display: block;
		width: 100%;
		height: 100vh;
		overflow: hidden;
		padding: 50px 30px;

		&::before {
			content: "";
			display: block;
			width: 100%;
			position: absolute;
			z-index: 1;
			background: url('../../../assets/stats-backdrop.jpg');
			background-size: cover;
			background-position: bottom;
			height:100%;
			bottom: 0;
			left: 0;
			opacity: 0;
		}

		&.animate {
			&::before {
				animation: reveal-bg-up 1s forwards ease-in-out;	
				animation-delay: 0.5ss;
			}
		}

		.section-content {
			position: relative;
			max-width: 1480px;
			width: 100%;
			height: 100%;

			.statistics {
				color: rgba(255, 255, 255, 0.7);
				position: relative;
				z-index: 2;
				display: flex;
				justify-content: center;
				height: 100%;

				.summary,
				.figures,
				.navigator {
					display: flex;
					justify-content: center;
					flex-direction: column;
					width: 33%;
				}

				.summary {
					padding-right: 100px;

					h2 {
						font-family: var(--primaryFont);
						font-style: normal;
						font-weight: 900;
						font-size: 82px;
						line-height: 0.9em;
						letter-spacing: 0.02em;
						margin-bottom: 150px;
						position: relative;
						opacity: 0;
						left: -50px;

						&.animate {
							animation: reveal-left 1s forwards ease-in-out;
							animation-delay: 2s;
						}

						span {
							font-weight: 800;
							font-size: 156px;
							line-height: 1em;
						}
						
					}

					h3 {
						font-family: var(--primaryFont);
						font-style: normal;
						font-weight: 700;
						font-size: 20px;
						text-transform: uppercase;
						line-height: 1.5em;
						letter-spacing: 0.02em;
						opacity: 0;
						position: relative;
						left: -50px;

						&.animate {
							animation: reveal-left 1s forwards ease-in-out;
							animation-delay: 2s;
						}
					}

					p {
						color: rgba(255, 255, 255, 0.7);
						font-family: var(--secondaryFont);
						font-style: normal;
						font-weight: 400;
						font-size: 18px;
						line-height: 1.5em;
						letter-spacing: 0.04em;
						opacity: 0;
						position: relative;
						left: -50px;

						&.animate {
							animation: reveal-left 1s forwards ease-in-out;
							animation-delay: 2s;
						}
					}
				}

				.figures {
					position: relative;
					align-items: center;
					padding-right: 40px;

					.figure {
						position: absolute;
						transform: translate(-50%, -50%);
						opacity: 0;
						max-width: 450px;
						max-height: 400px;
					}
		
					svg {
						&.reveal {
							opacity: 0;
							transform: scale(0.8);
							animation: 0.8s ease-in forwards grow;
							animation-delay: 0.8s;

							&.intro {
								animation-delay: 6.3s;
							}
						}
		
						&.hide-figure {
							opacity: 1;
							transform: scale(1);
							animation: 0.8s ease-in forwards exit-grow;
						}
					}
				}
		
				.navigator {
					padding-left: 230px;
		
					span {
						display: block;
		
						&.section-label {
							font-family: var(--primaryFont);
							font-style: normal;
							font-weight: 900;
							font-size: 30px;
							line-height: 1em;
							letter-spacing: 0.02em;
							opacity: 0;
							position: relative;
							right: -50px;

							&.animate {
								animation: reveal-right 1s forwards ease-in-out;
								animation-delay: 2s;
							}
						}
					}
		
					.stats-wrap {
						position: relative;
						height: 40vh;
						overflow: hidden;
						padding-left: 55px;
						margin-top: 20px;
						position: relative;
						opacity: 0;
						right: -50px;

						&.animate {
							animation: reveal-right 1s forwards ease-in-out;
							animation-delay: 2s;
						}
		
						ul {
							position: absolute;
							top: 40%;
							transition: ease-in-out 0.75s;
		
							li {
								color: rgba(255, 255, 255, 0.4);
								font-family: var(--primaryFont);
								font-style: normal;
								font-weight: 300;
								font-size: 14px;
								line-height: 1.3em;
								margin: 0 0 40px;
								transition: ease-in-out 0.75s;
								cursor: pointer;
		
								&.active {
									color: #FFFFFF;
									font-family: var(--primaryFont);
									font-style: normal;
									font-weight: 700;
									font-size: 18px;
									line-height: 1.1em;
								}
							}
						}
		
						&::after {
							content: "";
							position: absolute;
							z-index: 8;
							bottom: 0;
							display: block;
							background: rgb(0,0,0);
							background: linear-gradient(0deg, rgba(0,0,0,0.8771709367340687) 0%, rgba(3,8,22,0.7091037098433124) 39%, rgba(3,8,22,0) 100%);
							width: 100%;
							height: 50px;
						}
					}
				}
			}

			.svg-container {
				position: absolute;
				z-index: 1;
				top: 0;
				left: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				height: 100%;

				svg {
					width: 70%;

					#innerCircle {
						stroke: #616161;
						fill: transparent;
						stroke-width: 3;
						stroke-dasharray: 2337;
						stroke-dashoffset: 2337;
						
						&.animate {
							animation: 1s ease-in forwards outline-circle;
							animation-delay: 4.3s;
						}
					}
			
					#line {
						stroke: #616161;
						fill: transparent;
						stroke-width: 3;
						stroke-dasharray: 243;
						stroke-dashoffset: 243;

						&.animate {
							animation: 0.5s ease-in forwards outline-line;
							animation-delay: 4s;
						}
					}
			
					.path {
						opacity: 0;
						transform: scale(0.8);
						transform-origin: center center;
						animation: 1s ease-in-out forwards fade;

						&.animate { 
							opacity: 0;
							transform: scale(1);
							transform-origin: center center;
							animation: 0.8s ease-in forwards grow;
							animation-delay: 4.4s;
						}
					}
			
					#path1 {
						animation-delay: 6.1s;

						&.animate { 
							animation-delay: 6.1s;
						}
					}

					#path2 {
						animation-delay: 6.2s;

						&.animate { 
							animation-delay: 6.2s;
						}
					}

					#path3 {
						animation-delay: 6.3s;

						&.animate { 
							animation-delay: 6.3s;
						}
					}
				}
			}
		}
	}
}

.etg-stats {
	&.lt-view {
		position: relative;
		display: block;
		width: 100%;
		height: 100vh;
		overflow: hidden;
		padding: 50px 30px;

		@media only screen and (max-width: 1440px) {
			height: auto;
		}

		&::before {
			content: "";
			position: absolute;
			z-index: 1;
			bottom: 0;
			left: 0;
			display: block;
			background: url('../../../assets/stats-backdrop.jpg');
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			width: 100%;
			height: 100%;
			opacity: 0;
		}

		.etg-container {
			position: relative;
			z-index: 2;
			display: flex;
			flex-direction: column;
			justify-content: center;
			max-width: 1440px;
			width: 100%;
			height: 100%;
			margin: 0 auto;

			@media only screen and (max-width: 1440px) {
				max-width: 1280px;
				height: unset;
			}

			.etg-content {
				.etg-row {
					position: relative;
					z-index: 2;
					display: flex;
					justify-content: space-between;
					align-items: center;
					gap: 50px 0;

					@media only screen and (max-width: 1440px) {
						flex-wrap: wrap;
					}
					
					.etg-col {
						&:nth-child(1) {
							position: relative;
							width: 30%;
							left: -50px;
							opacity: 0;

							@media only screen and (max-width: 1440px) {
								width: 100%;
							}

							h2 {
								max-width: 470px;
								width: 100%;
								margin-bottom: 42px;

								span {
									color: #FFFFFF;
									font-family: var(--primaryFont);
									font-style: normal;
									font-weight: 800;
									line-height: 1em;
									letter-spacing: 0.02em;
									display: block;

									@media only screen and (max-width: 480px) {
										text-align: center;
									}

									&:nth-child(1) {
										font-size: 155px;

										@media only screen and (max-width: 1440px) {
											font-size: 110px;
										}

										@media only screen and (max-width: 480px) {
											font-size: 90px;
										}
									}

									&:nth-child(2) {
										font-size: 80px;

										@media only screen and (max-width: 1440px) {
											font-size: 60px;
										}

										@media only screen and (max-width: 480px) {
											font-size: 40px;
										}
									}
								}
							}

							h4 {
								color: #FFFFFF;
								font-family: var(--primaryFont);
								font-style: normal;
								font-weight: 700;
								font-size: 24px;
								text-transform: uppercase;
								line-height: 36px;
								letter-spacing: 0.06em;
								max-width: 470px;
								width: 100%;
								margin-bottom: 5px;
							}

							p {
								color: rgba(255, 255, 255, 0.7);
								font-family: var(--secondaryFont);
								font-style: normal;
								font-weight: 400;
								font-size: 22px;
								line-height: 1.45em;
								letter-spacing: 0.04em;
							}

							h5 {
								color: #FFFFFF;
								font-family: var(--primaryFont);
								font-style: normal;
								font-weight: 900;
								font-size: 30px;
								text-align: center;
								line-height: 1em;
								letter-spacing: 0.02em;
								margin: 30px auto;
								display: none;

								@media only screen and (max-width: 768px) {
									display: block;
								}
							}

							&.animate {
								animation: reveal-left 1s forwards ease-in-out;
								animation-delay: 2s;
							}
						}

						&:nth-child(2) {
							position: relative;
							width: 60%;

							@media only screen and (max-width: 1440px) {
								width: calc(100% - 300px);
								height: 1080px;
							}

							@media only screen and (max-width: 1080px) {
								height: 100vw;
							}

							@media only screen and (max-width: 768px) {
								width: 100%;
							}

							.polar-grid {
								position: absolute;
								z-index: 1;
								top: 50%;
								transform-origin: top;
								transform: translateY(-50%);
								display: none;

								@media only screen and (max-width: 1440px) {
									display: block;
								}

								@media only screen and (max-width: 768px) {
									rotate: 90deg;
								}
	
								#path1,
								#path2,
								#path3 {
									opacity: 0;
									scale: 0.8;
									transform-origin: center center;
									animation: 1s ease-in-out forwards fade;
				
									&.animate { 
										opacity: 0;
										scale: 0.8;
										transform-origin: center center;
										animation: 0.8s ease-in forwards grow;
										animation-delay: 4.4s;
									}
								}

								#innerCircle {
									fill: transparent;
									stroke: #616161;
									stroke-width: 3;
									stroke-dasharray: 2337;
									stroke-dashoffset: 2337;
									
									&.animate {
										animation: 1s ease-in forwards outline-circle;
										animation-delay: 4.3s;
									}
								}
						
								#line {
									stroke: #616161;
									fill: transparent;
									stroke-width: 3;
									stroke-dasharray: 243;
									stroke-dashoffset: 243;
				
									&.animate {
										animation: 0.5s ease-in forwards outline-line;
										animation-delay: 4s;
									}
								}
						
								#path1 {
									animation-delay: 6.1s;
				
									&.animate { 
										animation-delay: 6.1s;
									}
								}
				
								#path2 {
									animation-delay: 6.2s;
				
									&.animate { 
										animation-delay: 6.2s;
									}
								}
				
								#path3 {
									animation-delay: 6.3s;
				
									&.animate { 
										animation-delay: 6.3s;
									}
								}
							}

							.figure {
								position: absolute;
								z-index: 2;
								top: 50%;
								left: 50%;
								transform-origin: center;
								transform: translate(-50%, -50%);
								display: block;
								width: 350px;
								height: 350px;
								opacity: 0;
								margin: 0 0 0 -80px;

								@media only screen and (max-width: 1440px) {
									width: 30vw;
									height: 30vw;
									margin: 0 0 0 -15px;
								}

								@media only screen and (max-width: 768px) {
									margin: 0;
								}

								&.reveal {
									opacity: 0;
									scale: 0.8;
									animation: 0.8s ease-in forwards grow;
									animation-delay: 0.8s;
		
									&.intro {
										animation-delay: 6.3s;
									}
								}
			
								&.hide-figure {
									opacity: 1;
									scale: 1;
									animation: 0.8s ease-in forwards exit-grow;
								}
							}
						}
						
						&:nth-child(3) {
							position: relative;
							top: -75px;
							right: -50px;
							opacity: 0;
							width: 20%;

							@media only screen and (max-width: 1440px) {
								max-width: 300px;
								min-width: 300px;
								width: 100%;
							}

							@media only screen and (max-width: 768px) {
								top: unset;
								max-width: 100%;
								min-width: 100%;
							}

							h5 {
								color: #FFFFFF;
								font-family: var(--primaryFont);
								font-style: normal;
								font-weight: 900;
								font-size: 30px;
								line-height: 1em;
								letter-spacing: 0.02em;
								margin: 0 0 15px;

								@media only screen and (max-width: 768px) {
									display: none;
								}
							}

							.navigator-wrap {
								position: relative;
								height: 345px;
								overflow: hidden;

								@media only screen and (max-width: 768px) {
									height: unset;
								}

								.navigator-list {
									&.lt-view {
										list-style: none inside;
										position: absolute;
										top: calc(50% + 0.75em);
										display: flex;
										flex-direction: column;
										gap: 35px 0;
										padding: 0 30px;
										margin: 0;
										transition: margin 1s ease-in-out;

										@media only screen and (max-width: 768px) {
											display: none;
										}

										.navigator-item {
											color: rgba(255, 255, 255, 0.4);
											font-family: var(--primaryFont);
											font-style: normal;
											font-weight: 400;
											font-size: 14px;
											line-height: 1.3em;
											display: flex;
											align-items: flex-start;
											width: 100%;
											height: calc(1.3em * 3);
											overflow: hidden;
											transition: all 1s ease-in-out;
											cursor: pointer;

											@media only screen and (max-width: 1440px) {
												align-items: center;
											}

											&.active {
												color: #FFFFFF;
												font-weight: 700;
												font-size: 18px;
											}
										}
									}

									&.mb-view {
										position: relative;
										display: none;
										justify-content: center;
										align-items: center;
										gap: 35px;
										height: 3.9em;
										list-style: none inside;
										padding: 0;
										margin: 0;

										@media only screen and (max-width: 768px) {
											display: flex;
										}

										.navigator-item {
											color: rgba(255, 255, 255, 0.4);
											font-family: var(--primaryFont);
											font-style: normal;
											font-weight: 400;
											font-size: 11px;
											text-align: center;
											line-height: 1.3em;
											position: absolute;
											left: 50%;
											transform: translateX(-50%);
											display: flex;
											align-items: center;
											max-width: 150px;
											min-width: 150px;
											width: 100%;
											height: calc(1.3em * 3);
											overflow: hidden;
											opacity: 0;
											transition: all 1s ease-in-out;
											cursor: pointer;

											&.prev-in {
												left: calc(50% - ((150px + 35px) * 2));
												opacity: 0;
											}

											&.prev {
												left: calc(50% - ((150px + 35px) * 1));
												opacity: 0.9;
											}

											&.active {
												color: #FFFFFF;
												font-weight: 700;
												font-size: 14px;
												left: 50%;
												opacity: 1;
											}

											&.next {
												left: calc(50% + ((150px + 35px) * 1));
												opacity: 0.9;
											}

											&.next-in {
												left: calc(50% + ((150px + 35px) * 2));
												opacity: 0;
											}
										}
									}
								}
							}

							&.animate {
								animation: reveal-right 1s forwards ease-in-out;
								animation-delay: 2s;
							}
						}
					}
				}

				.etg-polar-grid-container {
					position: absolute;
					z-index: 1;
					top: 0;
					left: 0;
					display: flex;
					justify-content: center;
					align-items: center;
					width: 100%;
					height: 100%;

					.etg-svg {
						width: 70%;
						margin: 0 auto;
					}

					@media only screen and (max-width: 1440px) {
						display: none;
					}
				}
			}
		}

		&.animate {
			&::before {
				animation: reveal-bg-up 1s forwards ease-in-out;	
				animation-delay: 0.5s;
			}
		}
	}
}

@keyframes outline-circle {
	0% {
		stroke-dashoffset: 2337;
	}

	100% {
		stroke-dashoffset: 4674;
	}
}

@keyframes outline-line {
	0% {
		stroke-dashoffset: 243;
	}

	100% {
		stroke-dashoffset: 486;
	}
}

@keyframes grow {
	0% {
		scale: 0.8;
		opacity: 0;
		transform-origin: center;
	}

	100% {
		scale: 1;
		opacity: 1;
		transform-origin: center;
	}
}

@keyframes exit-grow {
	0% {
		scale: 1;
		opacity: 1;
		transform-origin: center;
	}

	100% {
		scale: 1.2;
		opacity: 0;
		transform-origin: center;
	}
}

@keyframes fade {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes reveal-bg-up {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes reveal-left {
	0% {
		opacity: 0;
		left: -50px;
	}

	100% {
		opacity: 1;
		left: 0px;
	}
}

@keyframes reveal-right {
	0% {
		opacity: 0;
		right: -50px;
	}

	100% {
		opacity: 1;
		right: 0px;
	}
}