.etg-stats {
	position: relative;
	background: url('../../../assets/stats-backdrop.jpg');
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	padding: 50px 30px;

	@media only screen and (max-width: 1440px) {
		height: unset;
	}

	.section-content {
		position: relative;
		max-width: 1480px;
		width: 100%;
		height: 100%;

		.statistics {
			color: rgba(255, 255, 255, 0.7);
			position: relative;
			z-index: 2;
			display: flex;
			justify-content: center;
			height: 100%;

			@media only screen and (max-width: 1440px) {
				flex-wrap: wrap;
				gap: 80px 0;
			}

			.summary,
			.figures,
			.navigator {
				width: 33%;
				display: flex;
				justify-content: center;
				flex-direction: column;
			}

			.summary {
				padding-right: 100px;

				@media only screen and (max-width: 1440px) {
					justify-content: flex-start;
					width: 100%;
					height: 445px;
					padding-right: 0;
				}

				@media only screen and (max-width: 768px) {
					height: auto;
				}

				h2 {
					font-family: var(--primaryFont);
					font-style: normal;
					font-weight: 900;
					font-size: 82px;
					line-height: 0.9em;
					letter-spacing: 0.02em;
					margin-bottom: 150px;

					@media only screen and (max-width: 1440px) {
						margin-bottom: 50px;
					}

					@media only screen and (max-width: 768px) {
						font-size: 55px;
						text-align: center;
						max-width: 255px;
						margin: 0 auto 40px;
					}

					span {
						font-weight: 800;
						font-size: 156px;
						line-height: 1em;

						@media only screen and (max-width: 1440px) {
							display: block;
						}

						@media only screen and (max-width: 768px) {
							font-size: 90px;
							text-align: center;
						}
					}
					
				}

				h3 {
					font-family: var(--primaryFont);
					font-style: normal;
					font-weight: 700;
					font-size: 20px;
					text-transform: uppercase;
					line-height: 1.5em;
					letter-spacing: 0.02em;
					
					@media only screen and (max-width: 1440px) {
						max-width: 445px;
						display: block;
						margin: 0 0 5px;
					}

					@media only screen and (max-width: 768px) {
						margin: 0 auto 15px;
					}
				}

				p {
					color: rgba(255, 255, 255, 0.7);
					font-family: var(--secondaryFont);
					font-style: normal;
					font-weight: 400;
					font-size: 18px;
					line-height: 1.5em;
					letter-spacing: 0.04em;

					@media only screen and (max-width: 1440px) {
						font-size: 22px;
						max-width: 780px;
					}
				}
			}

			.figures {
				position: relative;
				align-items: center;
				padding-right: 40px;

				@media only screen and (max-width: 1440px) {
					width: 60%;
					scale: 0.5;
				}

				@media only screen and (max-width: 768px) {
					width: 100%;
					height: 600px;
				}
				
	
				.figure {
					position: absolute;
					transform: translate(-50%, -50%);
					opacity: 0;
					max-width: 450px;
					max-height: 400px;
				}
	
				svg {
					&.reveal {
						transform: scale(0.8);
						opacity: 0;
						animation: 0.8s ease-in forwards grow;
						animation-delay: 2.4s;
					}
	
					&.hide-figure {
						transform: scale(1);
						opacity: 1;
						animation: 0.8s ease-in forwards exit-grow;
					}
				}
			}
	
			.navigator {
				padding-left: 230px;
	
				@media only screen and (max-width: 1440px) {
					width: 40%;
					padding-left: 0;
				}
	
				@media only screen and (max-width: 768px) {
					width: 100%;
				}
	
				span {
					display: block;
	
					&.section-label {
						font-family: var(--primaryFont);
						font-style: normal;
						font-weight: 900;
						font-size: 30px;
						line-height: 1em;
						letter-spacing: 0.02em;
	
						@media only screen and (max-width: 1440px) {
							flex-wrap: wrap;
							gap: 80px 0;
						}
	
						@media only screen and (max-width: 768px) {
							display: none;
						}
					}
				}
	
				.stats-wrap {
					position: relative;
					height: 40vh;
					overflow: hidden;
					padding-left: 55px;
					margin-top: 20px;
	
					@media only screen and (max-width: 1440px) {
						padding-left: 0;
					}
	
					@media only screen and (max-width: 768px) {
						height: unset;
						overflow-x: scroll;
						margin-top: unset;
					}
	
					ul {
						position: absolute;
						top: 40%;
						transition: ease-in-out 0.75s;
	
						@media only screen and (max-width: 768px) {
							position: static;
							top: unset;
							display: flex;
							justify-content: center;
							gap: 0 18px;
							min-width: calc((200px * 6) + (18px * 5));
							padding: 0 0 50px;
						}
	
						li {
							color: rgba(255, 255, 255, 0.4);
							font-family: var(--primaryFont);
							font-style: normal;
							font-weight: 300;
							font-size: 14px;
							line-height: 1.3em;
							margin: 0 0 40px;
							transition: ease-in-out 0.75s;
							cursor: pointer;
	
							@media only screen and (max-width: 768px) {
								text-align: center;
								min-width: 200px;
								margin: 0;
							}
	
							&.active {
								font-family: 'Prompt';
								font-style: normal;
								font-weight: 700;
								font-size: 18px;
								line-height: 22px;
								color: #fff;
							}
						}
					}
	
					&::after {
						content: "";
						position: absolute;
						z-index: 8;
						bottom: 0;
						display: block;
						background: rgb(0,0,0);
						background: linear-gradient(0deg, rgba(0,0,0,0.8771709367340687) 0%, rgba(3,8,22,0.7091037098433124) 39%, rgba(3,8,22,0) 100%);
						width: 100%;
						height: 50px;
	
						@media only screen and (max-width: 768px) {
							display: none;
						}
					}
				}
			}
		}

		.svg-container {
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;

			@media only screen and (max-width: 1440px) {
				top: 255px;
				left: -20%;
				scale: 0.7;
			}

			@media only screen and (max-width: 768px) {
				top: 165px;
				left: unset;
				scale: 1.5;
			}

			@media only screen and (max-width: 480px) {
				top: 205px;
				left: unset;
				scale: 2;
			}

			svg {
				width: 70%;

				@media only screen and (max-width: 768px) {
					rotate: 90deg;
				}

				#innerCircle {
					stroke: #616161;
					fill: transparent;
					stroke-width: 3;
					stroke-dasharray: 2337;
					stroke-dashoffset: 2337;
					animation: 1s ease-in forwards outline-circle;
					animation-delay: 0.3s;
				}
		
				#line {
					stroke: #616161;
					fill: transparent;
					stroke-width: 3;
					stroke-dasharray: 243;
					stroke-dashoffset: 243;
					animation: 0.5s ease-in forwards outline-line;
				}
		
				.path {
					transform: scale(0.8);
					transform-origin: center center;
					opacity: 0;
					animation: 1s ease-in-out forwards fade;

					&.animate { 
						transform: scale(0.8);
						transform-origin: center center;
						opacity: 0;
						animation: 0.8s ease-in forwards grow;
						animation-delay: 2.4s;
					}
				}
		
				#path1 {
					animation-delay: 2.3s;

					&.animate { 
						animation-delay: 2.3s;
					}
				}

				#path2 {
					animation-delay: 2.4s;

					&.animate { 
						animation-delay: 2.4s;
					}
				}

				#path3 {
					animation-delay: 2.4s;

					&.animate { 
						animation-delay: 2.5s;
					}
				}
			}
		}
	}
}

@keyframes outline-circle {
	0% {
		stroke-dashoffset: 2337;
	}

	100% {
		stroke-dashoffset: 4674;
	}
}

@keyframes outline-line {
	0% {
		stroke-dashoffset: 243;
	}

	100% {
		stroke-dashoffset: 486;
	}
}

@keyframes grow {
	0% {
		transform: scale(0.8);
		opacity: 0;
	}

	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes exit-grow {
	0% {
		transform: scale(1);
		opacity: 1;
	}

	100% {
		transform: scale(1.2);
		opacity: 0;
	}
}

@keyframes fade {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}