<div #header>
    <app-header [showHeaderBackground]="showHeaderBackground"></app-header>
</div>
<div #banner>
    <app-banner></app-banner>
</div>
<div #collab>
    <app-collab [animateCollab]="animateCollab"></app-collab>
</div>
<div #creators>
    <app-our-creators [animateCreatorsEl]="animateCreatorsEl"></app-our-creators>
</div>
<div #statistics>
    <app-statistics [animateStats]="animateStats"></app-statistics>
</div>
<div #latest>
    <app-latest [animateLatest]="animateLatest"></app-latest>
</div>
<div #process>
    <app-process></app-process>
</div>
<div #fullservice>
    <app-full-service [animateFullService]="animateFullService"></app-full-service>
</div>
<div #servicesandcapabilities>
    <app-services-and-capabilities [animateServicesAndCapabilities]="animateServicesAndCapabilities"></app-services-and-capabilities>
</div>
<div #success>
    <app-key-to-success [animateSuccess]="animateSuccess"></app-key-to-success>
</div>
<div #partners>
    <app-partners-only></app-partners-only>
</div>
<app-footer></app-footer>
<app-contact-us></app-contact-us>
<app-section-navigator [node]="node" (activeNode)="scrollTo($event)"></app-section-navigator>