<div #header>
    <app-header
        [navScroll]="showHeaderBackground"
        [showContactSection]="showContactSection">
    </app-header>
</div>
<div #banner>
    <app-banner></app-banner>
</div>
<div #collab>
    <app-collab
        (enableBodyScroll)="getEnableBodyScroll($event);"
        [animateCollab]="animateCollab">
    </app-collab>
</div>
<div #creators>
    <app-our-creators
        [animateCreators]="animateCreators">
    </app-our-creators>
</div>
<div #statistics>
    <app-statistics [animateStats]="animateStats" [node]="node"></app-statistics>
</div>
<div #latest>
    <app-latest [animateLatest]="animateLatest"></app-latest>
</div>
<div #process>
    <app-process></app-process>
</div>
<div #fullservice>
    <app-full-service [animateFullService]="animateFullService"></app-full-service>
</div>
<div #servicesandcapabilities>
    <app-services-and-capabilities [animateServicesAndCapabilities]="animateServicesAndCapabilities"></app-services-and-capabilities>
</div>
<div #success>
    <app-key-to-success [animateSuccess]="animateSuccess"></app-key-to-success>
</div>
<div #partners>
    <app-partners-only [animatePartners]="animatePartners"></app-partners-only>
</div>
<div #footer>
    <app-footer
        [contactEmail]="contactEmail"
        [contactNumber]="contactNumber"
        [contactAddress]="contactAddress"
        [socialMediaList]="socialMediaList">
    </app-footer>
</div>
<app-contact-us
    [contactEmail]="contactEmail"
    [contactNumber]="contactNumber"
    [contactAddress]="contactAddress"
    [socialMediaList]="socialMediaList"
    [showContactSection]="showContactSection"
    [navScroll]="showHeaderBackground">
</app-contact-us>
<app-section-navigator [node]="node" (activeNode)="scrollTo($event)"></app-section-navigator>