<section class="etg-contact-us">
  <div class="etg-container">
    <h2>
      HI THERE,
    </h2>
    <h5>
      WE'RE GLAD YOUR HERE. LET'S GET GOING
    </h5>
    <div class="etg-row">
      <div class="etg-col">
        <form class="etg-form-contact"
          id=""
          action=""
          method="">
          <div class="etg-form-field-group">
            <p>
              Are you a creator or brand
            </p>
            <label for="creator">
              <input type="radio"
                class="etg-form-field-input"
                id="creator"
                name="role"
                value="creator"/>
                Creator
            </label>
            <input type="radio"
              class="etg-form-field-input"
              id="advertiser"
              name="role"
              value="advertiser"/>
            <label for="advertiser">Creator</label>
          </div>
        </form>
      </div>
      <div class="etg-col">

      </div>
    </div>
  </div>
</section>