.etg-services-and-capabilities {
  position: relative;
  height: 100vh;
  padding: 170px 30px 50px;
  overflow: hidden;

  @media only screen and (max-width: 1080px) {
    height: unset;
    padding: 50px 30px 50px;
  }

  .etg-background {
    content: '';
    position: absolute;
    z-index: 1;
    inset: 0;
    display: block;
    background: url('../../../assets/FullServices_bg-1915x1015.jpg') no-repeat center/cover;
    width: 100%;
    height: 100%;

    @media only screen and (max-width: 768px) {
      background: url('../../../assets/FullServices_bg-1915x1015.jpg') no-repeat 100%/cover;
    }

    @media only screen and (max-width: 480px) {
      background: url('../../../assets/FullServices_bg-1915x1015.jpg') no-repeat 75%/cover;
    }
  }

  .etg-container {
    position: relative;
    z-index: 2;
    max-width: 1280px;
    width: 100%;
    height: 100%;
    margin: 0 auto;

    .etg-row {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0 70px;
      width: max-content;
      margin: 0 0 130px;

      @media only screen and (max-width: 1080px) {
        gap: 0 40px;
        margin: 0 0 55px;
      }

      @media only screen and (max-width: 768px) {
        gap: 0 30px;
        margin: 0 0 90px;
      }

      @media only screen and (max-width: 480px) {
        gap: 0 20px;
      }

      h2 {
        font-weight: 900;
        font-size: 30px;
        line-height: 1.3em;
        letter-spacing: 0.02em;
        max-width: 325px;
        width: 100%;

        @media only screen and (max-width: 1080px) {
          font-size: 17px;
          max-width: 188px;
        }

        @media only screen and (max-width: 768px) {
          font-size: 15px;
          max-width: 165px;
        }

        @media only screen and (max-width: 480px) {
          font-size: 14px;
          max-width: 155px;
        }
      }

      hr {
        display: block;
        background-color: #FFFFFF;
        width: 1px;
        height: 80px;
        margin: 0;

        @media only screen and (max-width: 1080px) {
          height: 50px;
        }

        @media only screen and (max-width: 768px) {
          height: 40px;
        }
      }

      h3 {
        font-weight: 600;
        font-size: 30px;
        line-height: 1.3em;
        letter-spacing: 0.02em;
        width: max-content;

        @media only screen and (max-width: 1080px) {
          font-size: 17px;
        }

        @media only screen and (max-width: 768px) {
          font-size: 15px;
        }

        @media only screen and (max-width: 480px) {
          font-size: 14px;
          max-width: 106px;
          width: 100%;
        }
      }

      h2,
      h3 {
        color: rgba(255, 255, 255, 0.4);
        font-family: var(--primaryFont);
        font-style: normal;
        cursor: pointer;
        
        &.active,
        &:hover {
          color: #FFFFFF;
        }
      }
    }

    .list {
      list-style: none inside;
      column-count: 2;
      column-gap: 65px;
      width: 80%;
      margin: 0 0 80px;
      
      @media only screen and (max-width: 1080px) {
        column-gap: 37px;
        margin: 0 0 50px;
      }

      @media only screen and (max-width: 768px) {
        width: 100%;
      }

      @media only screen and (max-width: 480px) {
        column-count: 1;
        width: 90%;
        margin: 0 0 15px;
      }

      .item {
        color: #FFFFFF;
        font-family: var(--secondaryFont);
        font-style: normal;
        font-weight: 700;
        font-size: 1.1em;
        position: relative;
        margin: 0 0 60px 50px;
        padding: 0 0 20px;
        border-bottom: 1px solid #333333;

        @media only screen and (max-width: 1080px) {
          margin: 0 0 35px 25px;
          padding: 0 0 11px;
        }

        &::before {
          content: '';
          position: absolute;
          top: 3px;
          left: -35px;
          display: block;
          background-color: #EEB53B;
          width: 10px;
          height: 10px;

          @media only screen and (max-width: 1080px) {
            left: -25px;
            width: 6px;
            height: 6px;
          }
        }
      }
    }

    .etg-btn-primary {
      max-width: unset;
      min-width: unset;
      width: max-content;
      gap: 0 14px;
      margin: 0 auto;
      padding: 15px 43px;

      @media only screen and (max-width: 1080px) {
        font-size: 12px;
      }

      .etg-btn-icon {
        @media only screen and (max-width: 1080px) {
          width: 20px;
        }
      }

      .etg-btn-label {

      }
    }
  }
}