<section class="etg-partners-only">
  <div class="etg-container">
    <h2 class="animate-init"
      data-animate="fade-in-right-in">
      PARTNERING ONLY WITH THE BEST
    </h2>
    <ul class="partners-list">
      <li class="partners-item animate-init"
        *ngFor="let item of partnersList; let i = index;"
        data-animate="fade-in-left-in" data-animate-duration="1000" [attr.data-animate-delay]="i * 100"
        [id]="i">
        <img class="partners-logo"
          [title]="item.title"
          [alt]="item.title"
          [src]="item.logo"
        />
      </li>
    </ul>
  </div>
</section>